@charset "utf-8";
/* CSS Document */
.box1{width:100%;
     height:auto;
	 margin-top:17%;	
	 position:relative;
	}
.img1{position:absolute;
      left:40%;
	  width:18%;
      height:auto;	
	 }
.name{position:absolute; 
	  left:42%;
	  margin-top:20%;
	  font-size:1.5em;}
.show{position:absolute; 
      margin-top:28%;
	  left:44%;
	  border:1px solid #ba3360; 
	  background-color:#ba3360;
	  color:#fff;
	  padding:1px 8px;
	  border-radius:10px;}
.box2{width:90%;
      height:35px;
	  position:relative;
	  left:8%;
	  padding-top:40%;}
.t2{position:absolute;
	left:0px;
	}
.t3{position:absolute; 
	right:11%;}
.t3 a{ text-decoration:none;
       color:#ba3360;}
.line{height:1px;
      background-color:#999;
	  width:90%;
	  margin-top:20px;}
		 		
.mainbody{width:90%;
          height:auto;
		  position:relative;
		  left:8%;}
.mainbody ul{list-style:none;
             font-family:"华文细黑";
			 color:#c6ca51; 
			 font-size:.75em; 
			 padding-top:8px; 
			 display:block; 
			 width:82%;}
.mainbody ul li{margin-left:28%;}
.mainbody ul a{color:#c6ca51; 
               text-decoration:none;}
.content{width:90%;
         height:auto;
		 overflow:hidden;}
		 
		 
.box3{float:right;
      position:relative;
	  top:-45px;
	  clear:both;
	  width:13%;
	  }
.box3 a{color:#212425;
        text-decoration:none;
		
		}
.re{position:absolute;
    right:0px;
	}
.del{position:absolute;
     right:0px;
	 top:25px;
	 border:none;
	background:#FFF
	}


.showimg{float:left; 
         margin-left:0; 
		 width:20%; 
		 height:auto;}
.price{ font-size:0.5em; 
        margin-top:5px;}
.neirong{width:50%; 
         white-space:nowrap; 
		 text-overflow:ellipsis; 
		 overflow:hidden;
		 margin-top:5px;
		 color:#212425; }


.pbcle{ clear:both;}
.pbmg20{ margin-top:20px;}
.pbmg21{ margin-top:20px;}
.pbmg22{ margin-top:20px;}

.footer ul{list-style:none;}		  
.footer ul li.adress{padding-top:25px;}		  		  
.footer ul li.call{margin-top:10px;}		  
.footer ul li.name{margin-top:10px;left: 38%;}
.footer ul li.num{margin-top:40px;}	
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ display:inline-block;}
*html .clearfix{ height:1%;}
.clearfix{ display:block;}









